@using TegoareWeb.Data

@if (Model.ErrorMessages != null)
{
    foreach (ErrorMessage msg in Model.ErrorMessages)
    {
        if (msg.Value == false)
        {
            <div class="message message-danger">@msg.Message</div>
        }
        else
        {
            <div class="message message-success">@msg.Message</div>
        }
    }
    Model.ErrorMessages = null;
}
