@using TegoareWeb.Data

@if (Model.ErrorMessages != null)
{
    foreach (ErrorMessage msg in Model.ErrorMessages)
    {
        if (msg.Value == false)
        {
            <div class="message message-danger"><i class="fa fa-times-circle"></i> @msg.Message</div>
        }
        else
        {
            <div class="message message-success"><i class="fa fa-check-circle"></i> @msg.Message</div>
        }
    }
    Model.ErrorMessages = null;
}
