<div style="margin-top: 15px; "></div>
@if (ViewData["FooterPaginatedList"] != null && (bool)ViewData["FooterPaginatedList"] == true)
{
    <partial name="_PageButtonsPaginatedList" model="Model" />
    <partial name="_PrevNextPaginatedList" model="Model" />
}
else
{
    <partial name="_PrevNextPaginatedList" model="Model" />
    <partial name="_PageButtonsPaginatedList" model="Model" />
}