@using TegoareWeb.Data

@model Lid

@{ ViewData["Title"] = "Inloggen"; }

<h1>Vul je loginnaam (3 letters voornaam + 5 letters achternaam) en wachtwoord hieronder in</h1>
<h3>Als dit de eerste keer is dat je inlogt, zul je jouw wachtwoord moeten aanpassen</h3>
<hr />


<div class="row">
    <div class="col-md-11">
        <form asp-action="LogIn">
            <div class="row vertikaal-midden tekst-groter-extra mt-5">
                <div class="col-lg-3 col-md-12 font-weight-bold text-lg-right text-md-left pr-1">
                    <label asp-for="Login_Naam" class="control-label">Loginnaam:</label>
                </div>
                <div class="col-lg-8 col-md-12 mb-2 pl-1">
                    <input asp-for="Login_Naam" class="form-control account-input" placeholder="bijv. dirgoeth" />
                </div>
            </div>
            <div class="row vertikaal-midden tekst-groter-extra mt-3 mb-5">
                <div class="col-lg-3 col-md-12 font-weight-bold text-lg-right text-md-left pr-1">
                    <label asp-for="Wachtwoord" class="control-label">@Html.DisplayNameFor(Model => Model.Wachtwoord):</label>
                </div>
                <div class="col-lg-8 col-md-12 mb-2 pl-1">
                    <input type="password" asp-for="Wachtwoord" class="form-control account-input" placeholder="bijv. t3go@R3" />
                </div>
            </div>
            <div class="form-group tekst-groter">
                <button class="btn btn-block btn-knop btn-dark" type="submit">
                    <i class="fa fa-sign-in"></i> Inloggen
                </button>
            </div>
        </form>
        <div class="tekst-groter">
            @{var goTo = new KnopInfo { Action = "VeranderWachtwoord", Label = "Ik wil inloggen en mijn wachtwoord aanpassen", FA = "fa-key" }; }
            <partial name="_GoTo" model="goTo" />
        </div>
    </div>
</div>