@model TegoareWeb.ViewModels.Beheerderslijst
@{
    ViewData["Title"] = "Beheerders";
}

<h1>Lijst met beheerders</h1>
<hr />
<h3>Activiteitenmanagers (@Model.Activiteitenmanagerlijst.Count)</h3>
<hr />
<partial name="_ListLeden" model="Model.Activiteitenmanagerlijst" />
<hr />
<h3>Ledenmanagers (@Model.Ledenmanagerlijst.Count)</h3>
<hr />
<partial name="_ListLeden" model="Model.Ledenmanagerlijst" />
<hr />
@{var goTo = new TegoareWeb.Data.KnopInfo { Label = "Terug naar lijst" }; }
<partial name="_GoTo" model="goTo" />

