@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="col text-center">
        <a class="btn col-6 btn-lg btn-lijst" asp-controller="Lijsten" asp-action="Verjaardagslijst">
            <h2>Lijst met verjaardagen</h2>
        </a>
    </div>
    <div class="col text-center">
        <a class="btn col-6 btn-lg btn-lijst" asp-controller="Lijsten" asp-action="NotImpl">
            <h2>Andere lijst</h2>
        </a>
    </div>
    <div class="col text-center">
        <a class="btn col-6 btn-lg btn-lijst" asp-controller="Lijsten" asp-action="NotImpl">
            <h2>Nog andere lijst</h2>
        </a>
    </div>
    <div class="col text-center">
        <a class="btn col-6 btn-lg btn-lijst" asp-controller="Lijsten" asp-action="NotImpl">
            <h2>Bla bla</h2>
        </a>
    </div>
    <div class="col text-center">
        <a class="btn col-6 btn-lg btn-lijst" asp-controller="Lijsten" asp-action="NotImpl">
            <h2>Blad</h2>
        </a>
    </div>
    <div class="col text-center">
        <a class="btn col-6 btn-lg btn-lijst" asp-controller="Lijsten" asp-action="NotImpl">
            <h2>Blab</h2>
        </a>
    </div>
</div>

