@{
    ViewData["Title"] = "Lijsten";
}

<div class="container">
    <div class="col text-center">
        <a class="btn col-6 btn-lg btn-lijst btn-dark" asp-controller="Lijsten" asp-action="Verjaardagslijst">
            <h2>Lijst met verjaardagen</h2>
        </a>
    </div>
    <div class="col text-center">
        <a class="btn col-6 btn-lg btn-lijst btn-dark" asp-controller="Lijsten" asp-action="Huisbezoekerslijst">
            <h2>Huisbezoekers</h2>
        </a>
    </div>
    <div class="col text-center">
        <a class="btn col-6 btn-lg btn-lijst btn-dark" asp-controller="Lijsten" asp-action="Stuurgroep">
            <h2>Stuurgroep</h2>
        </a>
    </div>
    <div class="col text-center">
        <a class="btn col-6 btn-lg btn-lijst btn-dark" asp-controller="Lijsten" asp-action="Vrijwilligers">
            <h2>Vrijwilligers</h2>
        </a>
    </div>
    <div class="col text-center">
        <a class="btn col-6 btn-lg btn-lijst btn-dark" asp-controller="Lijsten" asp-action="Beheerders">
            <h2>Beheerders</h2>
        </a>
    </div>
</div>

