@model List<string>

@{
    ViewData["Title"] = "LedenHuisbezoekerlijst";
}

<h1>@ViewData["NaamHuisbezoeker"] heeft (@Model.Count) leden:</h1>
<hr />
<partial name="_ListLeden" model="Model" />
<hr />
@{var goTo = new TegoareWeb.Data.KnopInfo { Action = "Huisbezoekerslijst", Label = "Ga terug naar de huisbezoekers" }; }
<partial name="_GoTo" model="goTo" />