@model List<string>


@{
    ViewData["Title"] = "Stuurgroep";
}

<h1>Lijst met leden van de stuurgroep (@Model.Count)</h1>
<hr />
<partial name="_ListLeden" model="Model" />
<hr />
@{var goTo = new TegoareWeb.Data.KnopInfo { Label = "Terug naar lijst" }; }
<partial name="_GoTo" model="goTo" />

