@using TegoareWeb.Data

@model List<string>


@{
    ViewData["Title"] = "Stuurgroep";
}

<h1>Lijst met leden van de stuurgroep (@Model.Count)</h1>
<hr />
<partial name="_ListLeden" model="Model" />
<hr />
<partial name="_GoTo" model="new KnopInfo()" />

