@using TegoareWeb.Data

@model List<string>


@{
    ViewData["Title"] = "Vrijwilligers";
}

<h1>Lijst met vrijwilligers (@Model.Count)</h1>
<hr />
<partial name="_ListLeden" model="Model" />
<hr />
<partial name="_GoTo" model="new KnopInfo()" />
