@{ ViewData["Title"] = "Privacybeleid"; }

<h1 class="font-weight-bold text-primary">
    @ViewData["Title"] Tegoare
</h1>
<div class="m-3">
    Versie <b>0.1</b>
</div>
<div class="m-3">
    Deze pagina is voor het laatst aangepast op <b>20 april 2021</b>.
</div>
<div class="m-3">
    Wij zijn er van bewust dat u vertrouwen stelt in ons. Wij zien het dan ook als onze verantwoordelijkheid om uw privacy te beschermen. Op deze pagina laten we u weten welke gegevens we verzamelen als u onze website gebruikt, waarom we deze gegevens verzamelen en hoe we hiermee uw gebruikservaring verbeteren. Zo snapt u precies hoe wij werken.
</div>
<div class="m-3">
    Dit privacybeleid is van toepassing op de diensten van Tegoare. U dient zich ervan bewust te zijn dat Tegoare niet verantwoordelijk is voor het privacybeleid van andere sites en bronnen. Door gebruik te maken van deze website geeft u aan het privacybeleid te accepteren.
</div>
<div class="m-3 font-weight-bold">
    Tegoare respecteert de privacy van alle gebruikers van haar site en draagt er zorg voor dat de persoonlijke informatie die u ons verschaft vertrouwelijk wordt behandeld.
</div>
<h1 class="text-primary m-3">
    Ons gebruik van de verzamelde gegevens
</h1>
<h4>
    <u>Gebruik van onze diensten</u>
</h4>
<div class="m-3">
    Wanneer u zich aanmeldt vragen we u om persoonsgegevens te verstrekken. Deze gegevens worden gebruikt om de dienst uit te kunnen voeren. De gegevens worden opgeslagen op eigen beveiligde servers van Tegoare of die van een derde partij. Wij zullen deze gegevens niet combineren met andere persoonlijke gegevens waarover wij beschikken.
</div>
<h4>
    <u>Communicatie</u>
</h4>
<div class="m-3">
    Wanneer u e-mail of andere berichten naar ons verzendt, is het mogelijk dat we die berichten bewaren. Soms vragen wij u naar uw persoonlijke gegevens die voor de desbetreffende situatie relevant zijn. Dit maakt het mogelijk uw vragen te verwerken en uw verzoeken te beantwoorden. De gegevens worden opgeslagen op eigen beveiligde servers van Tegoare of die van een derde partij. Wij zullen deze gegevens niet combineren met andere persoonlijke gegevens waarover wij beschikken.
    Cookies
</div>
<h4>
    <u>Cookies</u>
</h4>
<div class="m-3">
    Deze website maakt <b>GEEN</b> gebruik van “cookies” (tekstbestandtjes die op uw computer worden geplaatst) om de website te helpen analyseren hoe gebruikers de site gebruiken.
</div>
<h4>
    <u>Doeleinden</u>
</h4>
<div class="m-3">
    We verzamelen of gebruiken geen informatie voor andere doeleinden dan de doeleinden die worden beschreven in dit privacybeleid tenzij we van tevoren uw toestemming hiervoor hebben verkregen.
</div>
<h4>
    <u>Derden</u>
</h4>
<div class="m-3">
    De informatie wordt niet met derden gedeeld. In enkele gevallen kan de informatie intern gedeeld worden. Onze vrijwilligers zijn verplicht om de vertrouwelijkheid van uw gegevens te respecteren.
</div>
<h4>
    <u>Veranderingen</u>
</h4>
<div class="m-3">
    Deze privacyverklaring is afgestemd op het gebruik van en de mogelijkheden op deze site. Eventuele aanpassingen en/of veranderingen van deze site, kunnen leiden tot wijzigingen in deze privacyverklaring. Het is daarom raadzaam om regelmatig deze privacyverklaring te raadplegen.
</div>
<h4>
    <u>Keuzes voor persoonsgegevens</u>
</h4>
<div class="m-3">
    Wij bieden alle bezoekers de mogelijkheid tot het inzien, veranderen, of verwijderen van alle persoonlijke informatie die op moment aan ons is verstrekt.
</div>
<h4>
    <u>Aanpassen/uitschrijven communicatie</u>
</h4>
<div class="m-3">
    Als u uw gegevens aan wilt passen of uzelf uit onze bestanden wilt laten halen, kunt u contact met ons op nemen. Zie onderstaande contactgegevens.
</div>
<h4>
    <u>Cookies uitzetten</u>
</h4>
<div class="m-3">
    De meeste browsers zijn standaard ingesteld om cookies te accepteren, maar u kunt uw browser opnieuw instellen om alle cookies te weigeren of om aan te geven wanneer een cookie wordt verzonden. Het is echter mogelijk dat sommige functies en services, op onze en andere websites, niet correct functioneren als cookies zijn uitgeschakeld in uw browser.
</div>
<h4>
    <u>Vragen en feedback</u>
</h4>
<div class="m-3">
    We controleren regelmatig of we aan dit privacybeleid voldoen. Als u vragen heeft over dit privacybeleid, kunt u contact met ons opnemen:
</div>
<div class="m-3">
    <table class="m-auto" style="width:80%;">
        <tr class="m-2">
            <th>Kris Reynaert (voorzitster)</th>
            <th>Monique Decrop (voorzitster)</th>
        </tr>
        <tr class="m-2">
            <td>GSM: <a href="tel:+32473642032">0473/642032</a></td>
            <td>GSM: <a href="tel:+32498540898">0498/540898</a></td>
        </tr>
        <tr class="m-2">
            <td>Email: <a href="mailto:krisreynaert@hotmail.com">krisreynaert@hotmail.com</a></td>
            <td>Email: <a href="mailto:moniquedecrop56@gmail.com">moniquedecrop56@gmail.com</a></td>
        </tr>
    </table>
</div>
