@using TegoareWeb.Models
@using TegoareWeb.Data

@model Ontmoetingsplaats

@{ ViewData["Title"] = "Aanmaken ontmoetingsplaats"; }

<h1>Nieuwe ontmoetingsplaats aanmaken</h1>

<h4>Gegevens van de ontmoetingsplaats</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Plaatsnaam" class="control-label"></label>
                <input asp-for="Plaatsnaam" class="form-control" />
                <span asp-validation-for="Plaatsnaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Straatnaam" class="control-label"></label>
                <input asp-for="Straatnaam" class="form-control" />
                <span asp-validation-for="Straatnaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Straatnummer" class="control-label"></label>
                <input asp-for="Straatnummer" class="form-control" />
                <span asp-validation-for="Straatnummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" value="8900" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gemeente" class="control-label"></label>
                <input asp-for="Gemeente" value="Ieper" class="form-control" />
                <span asp-validation-for="Gemeente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-knop btn-save" type="submit">
                    <i class="fa fa-save"></i> Bewaar ontmoetingsplaats
                </button>
            </div>
        </form>
        <partial name="_GoTo" model="new KnopInfo()" />
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
