@{
    ViewData["Title"] = "Index";
}

<h1>SEEDER</h1>

<p>
    <strong>@ViewData["status"]</strong>
</p>

<p>
    <a asp-action="DelGroepen">Delete Groepen</a>
</p>

<p>
    <a asp-action="SeedGroepen">Seed Groepen</a>
</p>

<p>
    <a asp-action="DelLeden">Delete Leden</a>
</p>

<p>
    <a asp-action="SeedLeden">Seed Leden</a>
</p>

<p>
    <a asp-action="DelOntmoetingsplaatsen">Delete Ontmoetingsplaatsen</a>
</p>

<p>
    <a asp-action="SeedOntmoetingsplaatsen">Seed Ontmoetingsplaatsen</a>
</p>

<p>
    <a asp-action="DelActiviteiten">Delete Activiteiten</a>
</p>

<p>
    <a asp-action="SeedActiviteiten">Seed Activiteiten</a>
</p>
