/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*  Mijn opmaak
    ----------------------------------*/

.vertikaal-midden {
    display: flex;
    align-items: center;
}

.btn-lijst {
    border-radius: 5em;
    margin: .5em;
}

.btn-knop {
    border-radius: 5em;
    padding: 1em;
    margin: 1em;
    font-size: larger;
}

.btn-edit, .btn-create, .btn-save {
    background-color: #7DFA94;
}

    .btn-edit:hover, .btn-create:hover, .btn-save:hover {
        color: #7DFA94;
        background-color: black;
    }

.btn-delete {
    background-color: #FA3B2E;
}

    .btn-delete:hover {
        color: #FA3B2E;
        background-color: black;
    }

.btn-copy {
    background-color: #F5E726;
}

    .btn-copy:hover {
        color: #F5E726;
        background-color: black;
    }

hr {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(9, 84, 132));
    border: 0;
    height: 5px;
    vertical-align: middle;
}

.verborgen {
    display: none;
}

.btn-zoek {
    background-color: #63ABFA;
    border-radius: 15px;
    border: 2px solid black;
}

    .btn-zoek:hover {
        color: #63ABFA;
        background-color: black;
    }

.btn-create {
    border-radius: 15px;
    border: 2px solid black;
    text-align: center;
    float: right;
}

.btn-onze-act {
    background-color: #9df5a6;
    border-radius: 15px;
    border: 2px solid black;
}

    .btn-onze-act:hover {
        color: #9df5a6;
        background-color: #334e50;
    }

    .btn-onze-act:nth-child(even) {
        background-color: #f8f195;
        border-radius: 15px;
        border: 2px solid black;
    }

    .btn-onze-act:hover:nth-child(even) {
        color: #f8f195;
        background-color: #334e50;
    }

.onze-act-titel {
    background-color: sandybrown;
    border-radius: 15px;
    border: 2px solid black;
}

.onze-act-omschrijving {
    background-color: #dad1eb;
    color: black;
    border-radius: 15px;
    border: 2px solid black;
}

.tekst-groter {
    font-size: larger;
}

.tekst-groter-extra {
    font-size: xx-large;
}

.account-input {
    line-height: 1.2em;
    font-size: 36pt;
    border-radius: 5em;
    background-color: #FAF9AC;
    padding: 20px;
}

.rel-card {
    background-color: #63ABFA;
    border-radius: 20px;
    border: 2px solid black;
}

    .rel-card:hover {
        background-color: #4E83B3;
    }

.rel-card-title {
    background-color: khaki;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
    font-weight: bold;
}

.rel-card ul li {
    background: #FACD82;
    list-style-type: none;
    margin: 5px -10px 5px -50px;
    padding: 5px;
    border: solid gray 2px;
    border-radius: 10px;
    font-size: smaller;
}

.huisbezoeker-card-title {
    background-color: khaki;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
    font-size: larger;
    font-weight: bold;
}

.message {
    text-align: center;
    font-weight: bold;
    border: 2px solid;
    border-radius: 15px;
    margin: 10px;
    animation-duration: 7s;
    animation-fill-mode: both;
    animation-name: message;
}

@keyframes message {
    0% {
        opacity: 1;
        transform: translateX(-100%);
        height: 50px;
    }

    10% {
        opacity: 1;
        transform: translateX(0);
        height: 30px;
    }

    90% {
        opacity: 1;
        transform: translateX(0%);
        height: 30px;
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
        display: none;
        height: 0px;
    }
}

.message-danger {
    color: #D8000C;
    background-color: #FFD2D2;
}

.message-success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.checkbox {
    padding-left: 20px;
}

    .checkbox label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 5px;
    }

        .checkbox label::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 27px;
            height: 27px;
            left: 0;
            margin-left: -30px;
            border: 1px solid #cccccc;
            border-radius: 3px;
            background-color: #fff;
            -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        }

        .checkbox label::after {
            display: inline-block;
            position: absolute;
            width: 26px;
            height: 26px;
            left: 0;
            top: 0;
            margin-left: -30px;
            padding-left: 3px;
            padding-top: 1px;
            font-size: 11px;
            color: #555555;
        }

    .checkbox input[type="checkbox"] {
        opacity: 0;
        z-index: 1;
    }

        .checkbox input[type="checkbox"]:focus + label::before {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

        .checkbox input[type="checkbox"]:checked + label::before {
            background-color: #A3F460;
            border-color: #f0ad4e;
        }

        .checkbox input[type="checkbox"]:checked + label::after {
            font-family: "FontAwesome";
            content: "\f00c";
            color: #4A5190;
            font-size: 20px;
        }

        .checkbox input[type="checkbox"]:disabled + label {
            opacity: 0.65;
        }

            .checkbox input[type="checkbox"]:disabled + label::before {
                background-color: #eeeeee;
                cursor: not-allowed;
            }

.denk-bubbel {
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 1.4em;
    margin: 20px auto 40px auto;
    background-color: #fbfd8b;
    border: 8px solid #3e3e3e;
    border-radius: 100px;
    font-family: sans-serif;
    padding: 30px;
}

    .denk-bubbel:before,
    .denk-bubbel:after {
        content: ' ';
        position: absolute;
        width: 40px;
        height: 40px;
        left: 10px;
        bottom: -30px;
        background-color: #fbfd8b;
        border: 8px solid #3e3e3e;
        -webkit-border-radius: 28px;
        -moz-border-radius: 28px;
        border-radius: 28px;
    }

    .denk-bubbel:after {
        width: 20px;
        height: 20px;
        left: 5px;
        bottom: -40px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
    }